<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="local_folder" value="C:\\Users\\username\\AppData\\Roaming\\Dominions4\\savedgames"/>-->
    <!--<add key="host_folder" value="C:\\Users\\username\\Dropbox\\Dom4Games"/>-->
    <add key="dominions_folder" value="C:\\Users\\vicen_000\\Dropbox\\steamapps\\common\\Dominions4"/>
    <add key="gamename" value="23" />
  </appSettings>
</configuration>